* {
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #101010;
}

#image_container {
    width: 100vw;
    height: calc(100vh - 3vw);
    display: flex;
}

img {
    width: auto;
    height: auto;
    max-width: 86vw;
    max-height: 95%;
    margin: auto;
}

div.hidden > img, img.hidden {
    display: none;
}

#image_counter {
    width: 100vw;
    padding-bottom: 1vw;
    position: absolute;
    left: 0;
    bottom: 0;

    color: #808080;
    text-align: center;
    font-size: 1vw;
    font-family: "Open Sans", "Liberation Sans", Helvetica, Arial, sans-serif;
}

#prev_button, #next_button {
    width: 12vw;
    height: 12vw;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;

    transition: background-color 0.1s ease;
}

#prev_button {
    left: -6vw;
}

#next_button {
    right: -6vw;
}

#prev_button:before, #next_button:before {
    content: '';
    width: 3vw;
    height: 3vw;
    position: relative;

    opacity: 0.25;
    border-bottom: 0.2vw solid white;
    border-right: 0.2vw solid white;

    transition: opacity 0.1s ease;
}

#prev_button:before {
    left: 3.25vw;
    transform: rotate(135deg);
}

#next_button:before {
    right: 3.25vw;
    transform: rotate(-45deg);
}

#prev_button:hover, #next_button:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

#prev_button:hover:before, #next_button:hover:before {
    opacity: 0.5;
}
